# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree


elpa/
transient/
custom.el
.lsp-session-v1

bookmarks

.dap-breakpoints
.extension/
**/*.bak
ido.last
var
etc
.emacs.desktop
.cache
elisp/flycheck_*
async-bytecomp.log
